annotated-types==0.7.0
asgiref==3.8.1
astroid==3.3.4
black==24.8.0
blis
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib
colorama==0.4.6
confection==0.1.4
contourpy
cryptography==42.0.5
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.8
dill==0.3.8
Django==5.1.1
django-appconf==1.0.6
django-compressor==4.5.1
django-csp==3.7
django-recaptcha==4.0.0
filelock==3.16.1
fonttools==4.54.1
fsspec==2024.9.0
google-api-core
google-auth
google-cloud
google-cloud-recaptcha-enterprise
google-cloud-vision
googleapis-common-protos
grpcio==1.66.1
grpcio-status==1.62.1
gunicorn==22.0.0
idna==3.10
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.3
kiwisolver==1.4.7
langcodes==3.3.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.10
mypy==1.8.0
mypy-extensions==1.0.0
networkx==3.3
numpy
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
preshed==3.0.9
proto-plus==1.24.0
protobuf
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic
pydantic_core
Pygments==2.18.0
pylint==3.3.1
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyparsing==3.1.4
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
raven==6.10.0
rcssmin==1.1.2
regex==2024.9.11
requests==2.32.3
rjsmin==1.2.2
rsa==4.9
sentry-sdk
setuptools==75.1.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sqlparse==0.5.1
srsly==2.4.8
sympy==1.13.3
thinc==8.2.3
tomlkit==0.13.2
torch==2.2.1
tqdm==4.66.5
typer==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wasabi==1.1.3
weasel
wheel
whitenoise==6.7.0
wordcloud==1.9.3
wrapt==1.16.0
youtube-transcript-api==0.6.2