{% extends "pages/base.html" %}
{% load static %}
{% block robots %}<meta name="robots" content="noindex,nofollow">{% endblock robots %}
{% block title %}Confirm delete account{% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block user_confirm_delete %}      
<main id="prof">

  {% if messages %}
  <ul class="d-block float-start p-0 w-100">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %} 

  <div id="profile-container" class="p-3 bonus-container h-100">
    <h2>Confirm delete your account</h2><hr>
        <div class="d-flex h-75 flex-column mt-2 mb-3">
            {% if user.is_authenticated %}
            <p>Are you sure you want to delete your account?</p> 
            <p>You will permanently lose your progress, the only data concerning you (with your email).</p>
            {% else %}
            <p>Permission denied</p>
            {% endif %}
            <div class="p-2 h-100 d-flex flex-row flex-nowrap justify-content-end align-items-end">
         <a class="btn btn-danger float-end me-3" href="{% url 'auth:delete_account_confirm' %}">Yes, I'm sure</a>
         <a href="{% url 'auth:profile' %}"
         class="btn btn-warning float-end">Cancel</a>         
      </div>
    </div>
  </div>
  </main>

{% endblock user_confirm_delete %}