{% extends "pages/base.html" %}
{% load static %}
{% load extra_filters %}
{% block meta_description %}<meta name="Description" content="practice your English through dictation">{% endblock meta_description %}
{% block title %}My account{% endblock title %}
{% block robots %}<meta name="robots" content="noindex,nofollow">{% endblock robots %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block profile %}
{% spaceless %}
<main id="prof">
    <div id="profile-container" class="d-grid p-3 bonus-container h-100">
        {% if messages %}
            <ul class="d-block float-start p-0 w-100">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="d-block">
            <h2>Profile of 
                {% if request.user.is_authenticated %}
                    {{ user.username|capfirst }}
                {% else %}
                    <a href="{% url django.contrib.auth.login %}">Login</a>
                {% endif %}
            </h2>
            <p>Here you can see your progress and achievements, change your username, <a id="toggle" href="#bottom" class="link-primary">change your password</a> or delete your account.</p>
        </div>
        <div class="twrapper">
            <table class="table table-striped-columns">
                <tr>
                    <td>Username</td>
                    <td>{{request.user.username}}</td>
                    <td>
                        <a 
                        href="{% url 'auth:update_profile' %}"
                        class="btn btn-primary live-edit btn-size fas fa-pen pe-2 pb-2 pt-2">
                        </a>
                    </td> 
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{request.user.email}}</td>
                    <td></td> 
                </tr>
            </table>
        </div>
        <hr>         
        <div class="d-block p-3 pt-0 mb-5">
            <h3>Progress and achievements</h3>
            {% if not practice %}
                <span class="badge bg-danger p-2 ">No data found yet</span><br><br>
                <p><a href="{% url 'dictation:home' %}"><span class="bg-primary-subtle p-1">Select a topic and start a new dictation</span></a> </p>
            {% else %}
                <table id="ach" class="table table-striped-columns">
                    <tbody>
                        {% for item in practice %}
                            <tr>
                                {% if not item.is_done %}
                                    <td><a class="link-primary" href=" {% url 'dictation:topic' item.dictation.slug %} "> {{ item.dictation }}</a></td>
                                    <td class="text-center"><span class="badge bg-primary">In progress 
                                    <span class="badge bg-secondary">{% practice_status item.dictation.total_line item.lines %}%</span>
                                        </span>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        {% for item in practice %}
                            <tr>
                                {% if item.is_done %}
                                    <td>{{ item.dictation }}</td>
                                    <td class="text-center"><span class="badge bg-success"><i class="fa-solid fa-check"></i></span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <hr>
        <form id="delacc" method="post" class="del-account">{% csrf_token %}</form>
        <div id="bottom" class="p-2 h-75 d-flex flex-row flex-nowrap justify-content-around align-items-end">
            <a class="btn btn-primary btn-sm me-2" href="{% url 'auth:profile_password_change' %}">Change password</a>          
            <a form="delacc" class="btn btn-primary btn-sm " href="{% url 'auth:delete_account' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
            Delete my account</a>
        </div>
    </div>
</main>
{% endspaceless %}
{% endblock profile %}