{% extends 'pages/base.html' %}
{% load static %}
{% load adjusted_elided_page %}
{% load extra_filters %}
{% block title %}Not found - {% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
    {% block 400 %}
<main class="d-flex justify-content-center align-items-center">
    <div class="fs-2">
        Error 400: The server cannot process a request due to invalid syntax or corrupted data.
    </div>
</main>
    {% endblock 400 %}