{% extends 'pages/base.html' %}
{% load static %}
{% block meta_description %}<meta name="Description" content="Free dictations based on YouTube videos to practice your English">{% endblock meta_description %}
{% block title %}About{% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block about %}
<main class="d-flex flex-column justify-content-center">
    {% if messages %}
        <ul class="d-block float-start p-0 w-100">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="tt" class="dict-tt">
        <i class="fa-solid fa-lg fa-circle-exclamation"></i>
        <span class="bg-info p-2 float-end mb-3 dict-tt-content">Double click on a word to get its definition</span>
      </div> 
    <h2>About</h2>
    <div id="about" class="about-container p-5">
        <p>It's not about teaching, it's just about sharing what I consider to be good practice for learning by actively doing.<br>
            Avoiding translators and using a dictionary like the one implemented here is part of this process.<br>
            Dedicated to people who don't have too many opportunities to speak or who can't immerse themselves in a real context.</p>
        <p>This project was first of all a personal need, I watched a video while pausing at each sentence to write it down, then I wanted to make the process easier and more practical.
        This is just the beginning for this project and it could expand over time. 
        For the moment, each video is timestamped by hand, the text is taken from automatic translations from YouTube or from transcripts given by the author of the video.
        In the case of automatic transcripts, there are many errors to correct natively (and some may remain after publication).
        This is still a development level project and may bring changes in the future.</p>
        <p>Please, feel free to <a href="mailto:contact@dictatube.com">contact me</a> if you see any errors that I would not have seen.</p>
        </div>
</main>
<script src="{% static 'js/assets/scripts/home/index.bundle.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock about %}