<!DOCTYPE html>
{% load static %}
{% load extra_filters %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta_description %}{% endblock meta_description %}
    <title>{% block title %}{% endblock title %}</title>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous" nonce="{{request.csp_nonce}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous" nonce="{{request.csp_nonce}}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  {% block robots %}{% endblock robots %}
  <link rel="canonical" href="{{request.build_absolute_uri}}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="32x32"  href="{% static 'img/favicon-32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'img/favicon-16.png' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'img/dicpen.svg' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <script nonce="{{request.csp_nonce}}">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    if(localStorage.getItem('consentMode') === null){
        gtag('consent', 'default', {
            'ad_storage': 'denied',
            'analytics_storage': 'denied',
            'personalization_storage': 'denied',
            'functionality_storage': 'denied',
            'security_storage': 'denied',
        });
    } else {
        gtag('consent', 'default', JSON.parse(localStorage.getItem('consentMode')));
    }
</script>
{% block recaptcha %}{% endblock recaptcha %}
<!-- Google Tag Manager -->
<script nonce="{{request.csp_nonce}}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W7VQRGSS');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script nonce="{{request.csp_nonce}}" async src="https://www.googletagmanager.com/gtag/js?id=G-Q13MGW1JFP"></script>
<script nonce="{{request.csp_nonce}}">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-Q13MGW1JFP');
</script>
  {% block head_script %}{% endblock head_script %}
</head>
<body>
  {% csrf_token %}
  <script nonce="{{request.csp_nonce}}">
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const prde = "{% url 'dictation:ajax_post_request_definition' %}";
  </script>
  <div id="consent-popup"></div>
  {% spaceless %}
  {% block css_container %}{% endblock css_container %}
  {% include 'pages/dictionary_modal.html' %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-bg z-2">
      <div class="container-fluid custom-nbar-container-bg">
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars customs-fa-bars"></i>
          </span>
        </button>
        <a class="navbar-brand" href="{% url 'dictation:home' %}">
          <div class="applogo">
            <svg width="140" height="45" viewBox="0 0 80 16" xmlns="http://www.w3.org/2000/svg">
              <g> 
                <path fill="#d22222" d="M4.902 108.426h12.574c3.155 0 9.379.932 7.796 2.74-5.703 6.515 2.227 2.894 2.227 4.666v1.245c0 4.103-4.47 7.405-10.023 7.405H4.902c40.345 0-10.023-22.834-10.023-7.405v-1.245c0-4.103 4.47-7.406 10.023-7.406z" transform="translate(19.924 -108.04)" />
              </g>
              <g>
                <text xml:space="preserve" fill="#fff"  x="-27" y="32" transform="matrix(1 -.03623 0 1 21.702 -17.382)">
                  <tspan class="svglg" x="-27" y="32"> {{ domain_name|format_domain }} </tspan>
                </text>
              </g>
            </svg>
          </div>
        </a>
        <button id="ligbtn" data-light="light" class="light-button btn ms-auto me-0 order-lg-last w-dl" title="light"
          hidden>
          <i class="fa-solid fa-sun fa-sm text-light"></i>
        </button>
        <button id="darkbtn" data-dark="dark" class="dark-button btn ms-auto me-0 order-lg-last w-dl" title="dark">
          <i class="fa-solid fa-moon fa-sm text-light"></i>
        </button>
        <div class="collapse navbar-collapse d-lg-flex" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <ul class="navbar-nav col-lg-6 justify-content-lg-start">
            <li class="nav-item dropdown mt-2 mb-2">
              <a class="dropdown-toggle btn btn-outline-secondary w-100" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu mb-2">
                {% if request.user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'dictation:lab' %}">Dictation maker</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'auth:profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'auth:signout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
          <div class="d-lg-flex col-lg-5 justify-content-lg-end"></div>
          {% else %}
          <ul class="list-group list-group-horizontal-lg ms-auto">
            <li class="btn btn-sm m-2 sigbtn">
              <a class="nav-link text-light" href="{% url 'auth:signup' %}">Sign up
              </a>
            </li>
            <li class="btn btn-sm m-2 logbtn">
              <a class="nav-link text-light" href="{% url 'auth:login' %}">Log in
              </a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  {% block index %}{% endblock %}
  {% block home %}{% endblock %}
  {% block about %}{% endblock %}
  {% block lab %}{% endblock %}
  {% block profile %}{% endblock %}
  {% block signup %}{% endblock %}
  {% block signin %}{% endblock %}
  {% block content %}{% endblock %}
  {% block reset_done %}{% endblock %}
  {% block update_profile %}{% endblock %}
  {% block user_confirm_delete %}{% endblock %}
  {% block password_reset %}{% endblock %}
  {% block password_change %}{% endblock %}
  {% block 400 %}{% endblock %}
  {% block 403 %}{% endblock %}
  {% block 404 %}{% endblock %}
  {% block 500 %}{% endblock %}
  <footer>
    <span class="nocop">{{ domain_name|format_domain }} 2025</span>
    <span class="fabout"><a href="{% url 'dictation:about' %}">About</a></span>
  </footer>
  </div>
  {% endspaceless %}
  <div id="cc"></div>
  <script src="{% static 'js/assets/scripts/base/dictmodal.js' %}" nonce="{{request.csp_nonce}}"></script>
  <script src="{% static 'js/assets/scripts/base/index.bundle.js' %}" nonce="{{request.csp_nonce}}"></script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7VQRGSS"
  height="0" width="0" class="gtag"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>
</html>