{% extends 'pages/base.html' %}
{% load static %}
{% load adjusted_elided_page %}
{% load extra_filters %}
{% block meta_description %}<meta name="Description" content="Free dictations based on YouTube videos to practice your English">{% endblock meta_description %}
{% block title %}List of dictations{% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block home %}
<main>
    {% if messages %}
    <ul class="d-block float-start p-0 w-100">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} 
    <div class="mb-5">
        <h1>Free dictations to improve your English</h1>
    </div>    
    <div id="tt" class="dict-tt">
        <i class="fas fa-question-circle"></i>
        <span class="bg-info p-2 float-end mb-3 dict-tt-content">Double click on a word to get its definition</span>
      </div> 
    <h3>Select your topic</h3>
    <p>You can choose a topic just below and start a new dictation from a YouTube video.</p>
    <table class="table table-hover">
        <tr>
            <th class="w-tmb"></th>
            <th class="d-none d-sm-table-cell">Topic</th>
            <th>duration</th>
            <th>difficulty</th>
        {% if user.is_authenticated %}<th>Personal status</th>{% endif %}
        </tr>        
        {% for item in page_obj %}
            <tr>
                <td class="hometd p-0"><a href="{% url 'dictation:topic' item.slug %}"><img class="w-tmb" src="https://img.youtube.com/vi/{{item.video_id}}/0.jpg" alt=""></a></td>
                <td class="d-none d-sm-table-cell"><a href="{% url 'dictation:topic' item.slug %}" aria-label="{{ item|capfirst }}" tabindex="-1" class="row-link"></a><a class="d-flex align-items-center link-wrap link-indent link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'dictation:topic' item.slug %}"> {{ item|capfirst }}</a></td>
                <td>about {{item|duration}} mn<a href="{% url 'dictation:topic' item.slug %}" aria-label="{{ item|capfirst }}" tabindex="-1" class="row-link"></a><a class="d-flex align-items-center link-wrap link-indent link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'dictation:topic' item.slug %}"></a></td>
                <td>{{item.level|starize}}<a href="{% url 'dictation:topic' item.slug %}" aria-label="{{ item|capfirst }}" tabindex="-1" class="row-link"></a><a class="d-flex align-items-center link-wrap link-indent link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'dictation:topic' item.slug %}"></a></td> 
                {% if user.is_authenticated %}<td>
                    {% for dictation in practice %} 
                        {% if dictation.dictation_id == item.id %} 
                            {% practice_status dictation.is_done dictation.user_current_line dictation.dictation.total_line dictation.lines %}  
                        {% endif %} 
                    {% endfor %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <ul class="pagination justify-content-center flex-wrap mt-5 mb-5">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% adjusted_elided_page paginator page_obj.number as page_range %}
        {% for page_num in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
            {% if page_obj.number == page_num %}
                <li class="active page-item"><span class="page-link">{{ page_num }} <span class="sr-only"></span></span>
                </li>
            {% else %}
                {% if page_num == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ page_num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
</main>
<script src="{% static 'js/assets/scripts/home/index.bundle.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock home %}