{% extends 'pages/base.html' %}
{% load static %}
{% load adjusted_elided_page %}
{% load extra_filters %}
{% block title %}Not found - {% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
    {% block 404 %}
<main class="d-flex justify-content-center align-items-center">
    <div class="e404s fs-2 d-flex justify-content-end align-items-center">
        <div class="e404msg-ajusted">This page could not be found</div>
    </div>
</main>
    {% endblock 404 %}