* {
    box-sizing: border-box;
    outline: 0;
}

.grid-topic-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 1fr 0fr;
    min-height: 100%;
    grid-template-areas:
        'header header header header'
        'subh subh dict dict'
        '. embvid embvid .'
        '. textarea textarea .'
        '. txt txt .'
        'footer footer footer footer';
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 60px 60px;
}

header {

    grid-area: header;
    background-color: rgb(31, 31, 31);
    height: 70px;
}

.subhead {

    grid-area: subh;
    color: black;
    background-color: #f5f5f5;
    padding: 20px;
    min-height: 210px;
}

.embeded-video {

    grid-area: embvid;
    color: white;
    background-color: #f5f5f5;
    padding: 0 0 0 20px;
    height: 440px;
}

.custom-nbar-container-bg {
    background-color: #1f1f1f;
}