.grid-home-container,
.grid-topic-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    min-height: 100%;
}
.controls-tt:hover::after,
.lengthened-tt:hover::after {
    background: #1f2227;
    padding: 10px;
    content: attr(data-tooltip);
    opacity: 1;
}
.def li,
.link-indent {
    text-indent: 15px;
}
#counter,
.no-winbox ul li {
    text-indent: 5px;
}
.popup .content,
.progress-bar {
    text-align: left;
}
.no-winbox ul li,
li {
    list-style-type: none;
}
.board,
.gtag,
.hidemodal,
.overlay {
    visibility: hidden;
}
* {
    box-sizing: border-box;
    outline: 0;
}
@font-face {
    font-family: InkFree;
    src: url("/static/fonts/Inkfree.eot");
    src: url("/static/fonts/Inkfree.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Inkfree.ttf") format("truetype"), url("/static/fonts/Inkfree.woff2") format("woff2"), url("/static/fonts/Inkfree.woff") format("woff");
}
.grid-topic-container {
    grid-template-rows: 0fr 0fr 0fr 1fr 0fr;
    grid-template-areas: "header header header header" ". subh subh ." ". embvid textarea ." ". txt txt ." "footer footer footer footer";
}
.grid-home-container {
    grid-template-rows: 0fr 1.5fr auto;
    grid-template-areas: "header header header header" ". main main ." "footer footer footer footer";
    background-size: 60px 60px;
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-size: 60px 60px;
}
.background-gradient {
    background-image: radial-gradient(#9d9d9d 0.5px, var(--dynamic-color) 1px);
}
header {
    grid-area: header;
    background-color: #1f1f1f;
    height: 70px;
}
text {
    font-family: InkFree;
}
.gtag,
.hidemodal {
    display: none;
}
.applogo {
    grid-area: logo;
}
.logbtn {
    background-color: #303030;
}
.logbtn:hover {
    background-color: #4c4c4c;
}
.sigbtn {
    background-color: #02335f;
}
.sigbtn:hover {
    background-color: #073f6e;
}
.ydt {
    width: min(25vw, 135px);
}
.cusw-btn {
    width: 150px;
}
.exodflex,
.exodnone {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    overflow: auto;
}
.custom-facp {
    color: #a8bb24;
}
.exodflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exodnone {
    display: none;
    justify-content: center;
    align-items: center;
}
.exomodal-content {
    background-color: #f0f0f0;
    font-size: larger;
    font-weight: lighter;
    padding: 25px;
    border: 10px solid #f5eed3;
    width: 50%;
}
.popup .exit,
.progress,
.s-label {
    font-weight: 700;
}
.appmenu {
    grid-area: appmenu;
    margin: 8px;
    min-width: 250px;
}
.switch {
    grid-area: switch;
    margin: 15px;
    width: 50px;
}
#blur,
.e404s,
.info-div,
.tip {
    width: 100%;
}
.info-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.dict-tt {
    float: right;
    margin-left: auto;
    font-size: 10px;
    cursor: pointer;
}
.dict-tt .dict-tt-content {
    position: absolute;
    visibility: hidden;
    width: 106px;
    color: #000;
    border-radius: 6px;
    font-size: 12px;
    z-index: 2;
    margin-top: 15px;
    margin-left: -125px;
}
.dict-tt:hover .dict-tt-content {
    visibility: visible;
}
.missing {
    text-decoration-line: line-through;
    font-size: small;
}
.controls-tt,
.lengthened-tt {
    display: block;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
}
.controls-tt:hover::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    border: 1px solid #071f33;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transform: translate(-50%, -42px);
}
.lengthened-tt:hover::after {
    position: absolute;
    color: #fff;
    border: 1px solid #071f33;
    border-radius: 10px;
    width: 300px;
    transform: translate(-105%, 13px);
}
input.input-consent {
    vertical-align: middle;
    position: relative;
    top: -3px;
    left: 10px;
    margin-right: 20px;
}
.popup .exit,
td > .row-link {
    top: 0;
    text-decoration: none;
}
.cookie-consent-options {
    margin-bottom: 10px;
}
.cookies-consent-container {
    bottom: 2em;
    left: 2em;
    background-color: #044b3a;
    z-index: 1;
}
.cookies-consent-container *,
footer a:link,
footer a:visited {
    color: #fff;
}
.cookies-consent-title {
    letter-spacing: 0.4px;
}
.cookies-consent-info {
    line-height: 1.4em;
    letter-spacing: 0.4px;
}
#consent-popup {
    transition: opacity 1s;
}
.e404s {
    background: url(../img/e404_mire.png) center/contain no-repeat;
    height: 100%;
}
.e404msg-ajusted {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #605b5b;
    padding: 0 3px 3px;
}
.overlay,
td > .row-link {
    bottom: 0;
    left: 0;
    right: 0;
}
.embeded-video,
.text-area,
main {
    background-color: #f5f5f5;
}
.nve {
    display: block;
    color: red;
}
main {
    grid-area: main;
    padding: 20px;
}
.embeded-video {
    grid-area: embvid;
    color: #fff;
    padding: 0 0 0 20px;
    height: 520px;
}
#blur {
    height: 100%;
}
.blur-vid {
    filter: blur(5px);
}
textarea {
    resize: none;
}
.text-area {
    grid-area: textarea;
    position: relative;
    color: #000;
    padding: 0 20px 0 0;
    height: 520px;
}
.tip,
ul.title {
    background-color: #d2691e;
}
.tip {
    display: inline-block;
    padding-left: 10px;
    border-radius: 5px;
    color: #071f33;
}
.bonus-txt {
    grid-area: txt;
    color: #000;
    background-color: #f5f5f5;
    padding: 20px 20px 0;
}
.about-container,
.bonus-container,
.lab-container,
.light-about-cont,
.light-lab-cont {
    background-color: #fff;
    border-radius: 20px;
}
.popup,
.subhead,
footer {
    padding: 20px;
}
.bonus-container {
    min-height: 85%;
}
.dark-about-cont,
.dark-lab-cont {
    background-color: #0e304d;
    border-radius: 20px;
}
.profile-container {
    display: grid;
    background-color: #fff;
    min-height: 85%;
    border-radius: 20px;
}
.subhead {
    grid-area: subh;
    color: #000;
    background-color: #f5f5f5;
    min-height: 210px;
}
.spelling {
    text-decoration: underline red;
    color: red;
}
.check-btn {
    margin: 20px 0 0;
}
.w-ctrl {
    width: 18px;
}
.overlay {
    position: fixed;
    top: 150px;
    opacity: 0;
}
.cross,
.popup {
    position: relative;
}
.popup {
    margin: 70px auto;
    background: #cac6c6;
    border-radius: 10px;
    width: 30%;
    transition: 5s ease-in-out;
    border: 10px solid #f0f8ff;
    box-shadow: 0 0 7px 2px #000;
}
.grid-home-container,
.hdark {
    background-image: radial-gradient(#9d9d9d 0.5px, #5c5c5c 1px);
}
.hdark,
.hlight {
    background-size: 60px 60px;
}
.popup .exit {
    position: absolute;
    right: 5px;
    transition: 0.2s;
    font-size: larger;
    color: #000;
    cursor: pointer;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.def li {
    list-style-type: decimal;
}
.def li::marker {
    color: #0087ff;
    font-weight: 700;
}
.wikisource {
    float: left !important;
    margin-right: auto;
    font-size: small;
}
ul.title {
    text-indent: -20px;
    color: #fff;
    font-size: 15px;
    margin: 5px -15px;
}
.no-winbox {
    background-color: #e9ecef;
    color: #000;
    border: 1px solid #0087ff;
    min-height: 50px;
    width: 400px;
    padding: 5px;
    height: 150px;
    overflow: auto;
}
.board,
.text-entry {
    border-radius: 10px;
}
.cross {
    float: right;
    cursor: pointer;
}
.cross::after {
    content: "\2a2f";
    margin: 0 5px;
    font-size: 29px;
    line-height: 16px;
}
.def-container {
    position: sticky;
    float: right;
    top: 80px;
    right: 50px;
    margin-left: 20px;
    z-index: 10;
}
.w-play {
    width: 60px;
}
.w-dl {
    width: 50px;
}
.w-tmb {
    width: 120px;
}
.btn-yt {
    background-color: red;
    color: #fff;
    width: 50px;
}
.custom-nbar-container-bg,
footer {
    background-color: #1f1f1f;
}
.customs-fa-bars {
    color: #fff;
    font-size: 25px;
}
.choco,
h1,
h2,
h3 {
    color: #d2691e;
}
h1 strong {
    display: block;
    font-size: 55%;
    opacity: 0.75;
  }
.custom-transform-arrow {
    transform: scale(3, 3);
}
.text-entry {
    font-size: larger;
    background-color: #fff;
    height: fit-content;
    min-height: 100px;
    padding: 9px;
}
.board,
.errorlist {
    padding: 5px;
}
.text-valid {
    color: green;
    font-size: medium;
}
.text-invalid {
    color: grey;
    font-size: medium;
}
.tled,
.tledlast {
    font-size: x-small;
}
.dark-mode {
    transition: background-color 0.8s;
}
.dark-bonus-cont,
.dark-profile-cont {
    background-color: #0e304d;
}
.light-profile-cont {
    background-color: #fff;
}
.light {
    background-color: #f5f5f5;
    color: #000;
}
.dark {
    background-color: #071f33;
    color: #f5f5f5;
}
.hlight {
    background-image: radial-gradient(#9d9d9d 0.5px, #fff 1px);
}
.progress {
    color: #000;
    text-indent: 10px;
    background-color: #e9ecef;
}
.progressbar-width {
    width: var(--dynamic-width);
}
header h1 {
    margin: 0 0 0 20px;
    font-family: "Indie Flower", cursive;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}
.table > tbody > tr > td > .progress {
    margin-bottom: 0 !important;
}
.twrapper td {
    padding: 10px;
}
.board {
    position: absolute;
    bottom: 430px;
    background-color: grey;
    z-index: 1;
    margin: 10px 10px 20px -10px;
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 6px);
    background-size: 8px 42px;
    box-shadow: 1px -1px 10px -5px;
    transform: rotateX(90deg) rotateY(0);
    transition: transform 0.5s;
}
.adj-vertical-15,
td {
    position: relative;
}
table.thwled td {
    width: 5px;
}
.tled {
    table-layout: fixed;
    width: 100%;
}
.tledlast td {
    width: 1.1vw;
    min-width: 15px;
}
td > .row-link {
    position: absolute;
}
table a:hover {
    color: #501114 !important;
}
.hometd {
    height: 91px;
}
.link-wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.link {
    display: table-cell;
    vertical-align: middle;
}
.engine,
.fabout,
.nocop,
.tstadd,
.version,
footer {
    display: grid;
}
.w-300 {
    width: 300px;
}
.shad {
    box-shadow: 0 0 15px -9px #000;
}
.lbf-sm {
    font-size: smaller;
    margin-top: 18px;
}
.fitcontent {
    width: fit-content;
    width: -moz-fit-content;
}
.w-45 {
    width: 45%;
}
.forgot {
    margin-left: 30px;
}
.adj-vertical-15 {
    top: 15%;
}
.w-un-250 {
    width: 250px;
}
.green {
    background-image: linear-gradient(to top, #1ac800, #14c831, #15c94a, #1ec85d, #2ac86e);
}
.red {
    cursor: pointer;
    background-image: linear-gradient(to top, #be1515, #b71111, #b00e0d, #aa0909, #a30505);
}
.led {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 3px #000;
}
.info,
.success,
.warning {
    border-radius: 20px 20px 0 0;
    padding: 10px;
}
.led:after {
    display: block;
    content: "";
    margin-left: 1px;
    margin-right: 1px;
    width: 8px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0.2) 100%);
}
footer {
    grid-area: footer;
    color: #fff;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "foo1 foo2 foo3 foo4 foo5";
}
.nocop {
    grid-area: foo3;
    text-align: center;
}
.version {
    grid-area: foo5;
    text-align: right;
}
.engine {
    grid-area: foo1;
}
.fabout {
    grid-area: foo2;
}
.tstadd {
    grid-area: foo5;
}
.d-contents {
    display: contents;
}
.success {
    background-color: green;
    color: #fff;
}
.info {
    background-color: #0666f7;
    color: #fff;
}
.warning {
    background-color: #cf3e3e;
    color: #fff;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
h4 {
    font-size: 1.25rem;
}
h1,
h2,
h3 {
    font-family: "New Century Schoolbook";
}
.star-rating {
    display: inline-block;
    text-align: center;
    font-size: small;
}
.star-rating:not(:checked) > input {
    display: none;
}
.star-rating:not(:checked) > label {
    float: right;
    width: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.3em;
    color: #ccc;
    margin: -4px 0 0;
}
.star-rating:not(:checked) > label:before {
    content: "★ ";
}
.star-rating > label:hover::after {
    content: attr(data-tooltip);
    font-size: small;
    position: absolute;
    color: #fff;
    background: #6b80a3;
    border: 1px solid #071f33;
    border-radius: 10px;
    text-align: center;
    padding: 3px 5px;
    opacity: 1;
    transform: translate(-70%, -25px);
}
.star-rating > input:checked ~ label {
    color: #ffc700;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.sticker {
    display: flex;
    background: radial-gradient(#d2691e 0%, #fff 100%);
    padding: 3px 10px;
    border-radius: 7px 7px 0 0;
    color: #fff;
    text-shadow: 0 0 1px #000000;
    justify-content: center;
  }

@media screen and (max-width: 1200px) {
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0.1fr 0fr 0fr 1fr;
    }
    .tledlast td {
        width: 3.2vw;
    }
}
@media screen and (max-width: 1350px) {
    .light,
    .text-area {
        background-color: #f5f5f5;
        color: #000;
    }
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0fr 0fr 0.1fr 1fr 0fr;
        min-height: 100%;
        grid-template-areas: "header header header header" ". subh subh ." ". embvid textarea ." ". txt txt ." "footer footer footer footer";
    }
    .grid-home-container {
        display: grid;
        grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
        grid-template-rows: 0fr 1.5fr auto;
        min-height: 100%;
        grid-template-areas: "header header header header" ". main main ." "footer footer footer footer";
    }
    .check-btn {
        margin: 20px 20px 20px 0;
    }
    .embeded-video {
        padding: 0 0 0 20px;
    }
    .text-area {
        grid-area: textarea;
        padding: 0 20px 0 0;
    }
    .dark {
        background-color: #071f33;
        color: #fff;
    }
    .tledlast td {
        width: 1.6vw;
    }
}
@media screen and (max-width: 1100px) {
    .light,
    .text-area {
        background-color: #f5f5f5;
        color: #000;
    }
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 0fr;
        grid-template-areas: "header header header header" ". subh subh ." ". embvid textarea ." ". txt txt ." "footer footer footer footer";
    }
    .grid-home-container {
        display: grid;
        grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
        grid-template-rows: 0fr 1.5fr auto;
        min-height: 100%;
        grid-template-areas: "header header header header" ". main main ." "footer footer footer footer";
    }
    .check-btn {
        margin: 20px 20px 20px 0;
    }
    .embeded-video {
        padding: 0 0 0 20px;
    }
    .text-area {
        grid-area: textarea;
        padding: 0 20px 0 0;
        height: 520px;
    }
    .bonus-container {
        min-height: 83%;
    }
    .dark {
        background-color: #071f33;
        color: #fff;
    }
    .tledlast td {
        width: 1.2vw;
    }
}
@media screen and (max-width: 850px) {
    .board,
    .lorem {
        visibility: hidden;
    }
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0fr 0fr 0fr 0fr 1fr;
        grid-template-areas: "header header   header   header" ".      subh     subh     .     " ".      embvid   embvid   .     " ".      textarea textarea .     " ".      txt      txt      .     " "footer footer   footer   footer";
    }
    .grid-home-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0fr 2.5fr auto;
    }
    .subhead {
        min-height: auto;
    }
    .embeded-video {
        grid-area: embvid;
        height: 400px; /*400px prev*/
    }
    .check-btn {
        margin: 20px 20px 20px 0;
    }
    .board {
        position: absolute;
        bottom: 430px; /* 390 prev */
        border-radius: 10px;
        background-color: grey;
        z-index: 1;
        margin: 10px 10px 20px -10px;
        padding: 5px;
        background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 6px);
        background-size: 8px 42px;
        box-shadow: 1px -1px 10px -5px;
        transform: rotateX(90deg) rotateY(0);
        transition: transform 0.5s;
    }
    .light,
    .text-area {
        background-color: #f5f5f5;
        color: #000;
    }
    .text-area {
        grid-area: textarea;
        padding: 0 20px;
        height: auto; /* 480px prev*/
    }
    .dark {
        background-color: #071f33;
        color: #fff;
    }
    footer {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "foo2  foo3";
    }
    .tledlast td {
        width: 3.2vw;
    }
}
@media screen and (max-width: 575px) {
    .table > tbody > tr > td,
    .table > tbody > tr > th {
        vertical-align: middle !important;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .bonus-container {
        min-height: 75%;
    }
}
