* {
    box-sizing: border-box;
    outline: 0;
}

.grid-topic-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0fr 0.1fr 0.1fr 1fr 0fr;
    min-height: 100%;
    grid-template-areas:
        'header header header header'
        '. subh subh .'
        '. embvid textarea .'
        '. txt txt .'
        'footer footer footer footer';
}

.grid-home-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0fr 1.5fr auto;
    min-height: 100%;
    grid-template-areas:
        'header header header header'
        '. main main .'
        'footer footer footer footer';
    background-size: 60px 60px;
    background-image: radial-gradient(#9d9d9d .5px, rgb(255, 255, 255) 1px);
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 60px 60px;
}



header {

    grid-area: header;
    background-color: rgb(31, 31, 31);
    height: 70px;
}

.gtag {
    display: none;
    visibility: hidden;
}

.applogo {
    grid-area: logo;
}

.logbtn {
    background-color: #303030;
}

.logbtn:hover {
    background-color: #4c4c4c;
}

.sigbtn {
    background-color: #02335f;
}

.sigbtn:hover {
    background-color: #073f6e;
}

.ydt {
    width: min(25vw, 135px);
}

.link-indent {
    text-indent: 15px;
}

.appmenu {
    grid-area: appmenu;
    margin: 8px;
    min-width: 250px;
}

.switch {
    grid-area: switch;
    margin: 15px;
    width: 50px;
}

.info-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.dict-tt {
    float: right;
    font-size: 12px;
    margin-left: auto;
    cursor: pointer;
}

.dict-tt .dict-tt-content {
    position: absolute;
    visibility: hidden;
    width: 106px;
    color: #000;
    border-radius: 6px;
    font-size: 12px;
    z-index: 1;
    margin-top: 15px;
    margin-left: -120px;
}

.dict-tt:hover .dict-tt-content {
    visibility: visible;
}



.controls-tt {
    display: block;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
}

.controls-tt:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 0%;
    left: 50%;
    color: #fff;
    background: #1f2227;
    border: 1px solid #071f33;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding: 10px;
    opacity: 1;
    transform: translate(-50%, -42px);
}

.lengthened-tt {
    display: block;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
}

.lengthened-tt:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    color: #fff;
    background: #1f2227;
    border: 1px solid #071f33;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    opacity: 1;
    transform: translate(-105%, 13px);
}

input.input-consent {
    vertical-align: middle;
    position: relative;
    top: -3px;
    left: 10px;
    margin-right: 20px;
}

.cookie-consent-options {
    margin-bottom: 10px;
}

.cookies-consent-container {
    bottom: 2em;
    left: 2em;
    background-color: #044b3a;
    z-index: 1;
}

.cookies-consent-container * {
    color: white;
}

.cookies-consent-title {
    letter-spacing: 0.4px;
}

.cookies-consent-info {
    line-height: 1.4em;
    letter-spacing: 0.4px;
}

#consent-popup {
    transition: opacity 1s ease;
}


.e404s {
    background: url(../img/e404_mire.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* Centered text */
.e404msg-ajusted {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #605b5b;
    padding: 0px 3px 3px 3px;
}


main {
    grid-area: main;
    background-color: #f5f5f5;
    padding: 20px 20px;
}

.embeded-video {

    grid-area: embvid;
    color: white;
    background-color: #f5f5f5;
    padding: 0 0 0 20px;
    height: auto;
}

#blur {
    width: 100%;
    height: 100%;
}

.blur-vid {
    filter: blur(5px);
}

textarea {
    resize: none;
}

.text-area {
    grid-area: textarea;
    color: black;
    background-color: #f5f5f5;
    padding: 0px 20px 0px 0px;
    height: 500px;
}

#counter {
    text-indent: 5px;
}

.tip {
    display: inline-block;
    width: 100%;
    background-color: chocolate;
    padding-left: 10px;
    border-radius: 5px;
    color: #071f33;
}

.bonus-txt {
    grid-area: txt;
    color: white;
    background-color: #f5f5f5;
    padding: 20px 20px 0 20px;
}

.bonus-container {
    background-color: #fff;
    min-height: 85%;
    border-radius: 20px;
}

.about-container {
    background-color: #fff;
    border-radius: 20px;
}

.light-about-cont {
    background-color: #fff;
    border-radius: 20px;
}

.dark-about-cont {
    background-color: #0e304d;
    border-radius: 20px;
}

.profile-container {
    display: grid;
    background-color: #fff;
    min-height: 85%;
    border-radius: 20px;
}

.subhead {

    grid-area: subh;
    color: black;
    background-color: #f5f5f5;
    padding: 20px;
    min-height: 210px;
}

.spelling {
    text-decoration: underline red;
    color: red;
}

.check-btn {
    margin: 20px 0px 0px 0px;
}

.w-ctrl {
    width: 18px;
}

.overlay {
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #cac6c6;
    border-radius: 10px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    border: 10px solid aliceblue;
    box-shadow: 0px 0px 7px 2px #000;
}

.popup .exit {
    position: absolute;
    top: 0px;
    right: 5px;
    transition: all 200ms;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.popup .content {
    max-height: 30%;
    text-align: left;
    overflow: auto;
}


.def li {
    list-style-type: decimal;
    text-indent: 15px;
}

.def li::marker {
    color: rgb(0, 135, 255);
    font-weight: bold;
}

.wikisource {
    float: left !important;
    margin-right: auto;
    font-size: small;
}

ul.title {
    background-color: chocolate;
    text-indent: -20px;
    color: white;
    font-size: 15px;
    margin: 5px -15px;
}

.no-winbox {
    background-color: #e9ecef;
    color: black;
    border: 1px solid #0087ff;
    min-height: 50px;
    width: 400px;
    padding: 5px;
    height: 150px;
    overflow: auto;
}

.no-winbox ul li {
    list-style-type: none;
    text-indent: 5px;
}

.cross {
    position: relative;
    float: right;
    cursor: pointer;
}

.cross::after {
    content: '\2a2f';
    margin: 0 5px;
    font-size: 29px;
    line-height: 16px;
}

.def-container {
    position: sticky;
    float: right;
    top: 80px;
    right: 50px;
    margin-left: 20px;
    z-index: 10;
}

.w-play {
    width: 60px;
}

.w-dl {
    width: 50px;
}

.w-tmb {
    width: 120px;
}

.btn-yt {
    background-color: #f00;
    color: white;
    width: 50px;
}

.custom-nbar-container-bg {
    background-color: #1f1f1f;
}

.customs-fa-bars {
    color: #fff;
    font-size: 25px;
}

.custom-transform-arrow {
    transform: scale(3, 3);
}

.choco {
    color: chocolate;
}

.text-entry {
    font-size: larger;
}

.text-valid {
    color: green;
}

.text-invalid {
    color: grey;
}

.dark-mode {
    transition: background-color 800ms ease;
}

.grid-home-container {
    .dark-mode {
        /* background-color: rgb(92, 92, 92); */
        background-size: 60px 60px;
        background-image: radial-gradient(#9d9d9d .5px, rgb(92, 92, 92) 1px);
    }

}

.light-bonus-cont {
    background-color: #fff;
}

.dark-bonus-cont {
    background-color: #0e304d;
}

.light-profile-cont {
    background-color: #fff;
}


.dark-profile-cont {
    background-color: #0e304d;
}

.light {
    background-color: #f5f5f5;
    color: black;
}

.dark {
    background-color: #071f33;
    color: whitesmoke;
}

.hdark {
    background-size: 60px 60px;
    background-image: radial-gradient(#9d9d9d .5px, rgb(92, 92, 92) 1px);
}

.hlight {
    background-size: 60px 60px;
    background-image: radial-gradient(#9d9d9d .5px, rgb(255, 255, 255) 1px);
}

li {
    list-style-type: none;
}

header h1 {
    margin: 0 0 0 20px;
    font-family: 'Indie Flower', cursive;
}

.table>tbody>tr>td {
    vertical-align: middle !important;
}

.table>tbody>tr>td>.progress {
    margin-bottom: 0px !important;
}

td {
    position: relative;
}

td>.row-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
}

table a:hover {
    color: #501114 !important;
}

.hometd {
    height: 91px;
}

.link-wrap {
    display: table;
    height: 100%;
    width: 100%;
}

.link {
    display: table-cell;
    vertical-align: middle;
}

.errorlist {
    padding: 5px;
}

.w-300 {
    width: 300px;
}

.s-label {
    font-weight: bold;
}

.shad {
    box-shadow: 0px 0px 15px -9px #000;
}

.lbf-sm {
    font-size: smaller;
    margin-top: 18px;
}

.fitcontent {
    width: fit-content;
    width: -moz-fit-content
}

.w-45 {
    width: 45%;
}

.forgot {
    margin-left: 30px;
}

.adj-vertical-15 {
    top: 15%;
    position: relative;
}

.w-un-250 {
    width: 250px;
}

footer {
    grid-area: footer;
    background-color: rgb(31, 31, 31);
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'foo1 foo2 foo3 foo4 foo5'
}

footer a:link {
    color: white;
}

footer a:visited {
    color: white;
}

.nocop {
    display: grid;
    grid-area: foo3;
    text-align: center;
}

.version {
    display: grid;
    grid-area: foo5;
    text-align: right;
}

.engine {
    display: grid;
    grid-area: foo1;
}

.fabout {
    display: grid;
    grid-area: foo2;
}

.d-contents {
    display: contents;
}

.success {
    background-color: green;
    border-radius: 20px 20px 0px 0;
    padding: 10px;
}

.info {
    background-color: rgb(6, 102, 247);
    border-radius: 20px 20px 0px 0;
    padding: 10px;
}

.warning {
    background-color: rgb(207, 62, 62);
    border-radius: 20px 20px 0px 0;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h1,
h2 {

    color: chocolate;
    font-family: 'New Century Schoolbook';
}

.star-rating {
    display: inline-block;
    text-align: center;
}

.star-rating:not(:checked)>input {
    display: none;
}

.star-rating:not(:checked)>label {
    float: right;
    width: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.3em;
    color: #ccc;
    margin: -4px 0 0 0;
}

.star-rating:not(:checked)>label:before {
    content: '★ ';
}

.star-rating>label:hover::after {
    content: attr(data-tooltip);
    font-size: small;
    position: absolute;
    color: #fff;
    background: #6b80a3;
    border: 1px solid #071f33;
    border-radius: 10px;
    text-align: center;
    padding: 3px 5px;
    opacity: 1;
    transform: translate(-70%, -25px);
}

.star-rating>input:checked~label {
    color: #ffc700;
}

.star-rating:not(:checked)>label:hover,
.star-rating:not(:checked)>label:hover~label {
    color: #deb217;
}

.star-rating>input:checked+label:hover,
.star-rating>input:checked+label:hover~label,
.star-rating>input:checked~label:hover,
.star-rating>input:checked~label:hover~label,
.star-rating>label:hover~input:checked~label {
    color: #c59b08;
}

@media screen and (max-width: 1200px) {
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0.1fr 0fr 0fr 1fr;
    }
}

@media screen and (max-width: 1350px) {
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 0fr;
        min-height: 100%;
        grid-template-areas:
            'header header header header'
            '. subh subh .'
            '. embvid textarea .'
            '. txt txt .'
            'footer footer footer footer';
    }

    .grid-home-container {
        display: grid;
        grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
        grid-template-rows: 0fr 1.5fr auto;
        min-height: 100%;
        grid-template-areas:
            'header header header header'
            '. main main .'
            'footer footer footer footer';
    }

    .check-btn {
        margin: 20px 20px 20px 0px;
    }

    .embeded-video {
        padding: 0 0 0 20px;
    }

    .text-area {
        grid-area: textarea;
        color: black;
        background-color: #f5f5f5;
        padding: 0 20px 0 0;
    }

    .light {
        background-color: #f5f5f5;
        color: black;
    }

    .dark {
        background-color: #071f33;
        color: white;
    }

}

@media screen and (max-width: 1100px) {
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 0fr;
        grid-template-areas:
            'header header header header'
            '. subh subh .'
            '. embvid textarea .'
            '. txt txt .'
            'footer footer footer footer';
    }

    .grid-home-container {
        display: grid;
        grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
        grid-template-rows: 0fr 1.5fr auto;
        min-height: 100%;
        grid-template-areas:
            'header header header header'
            '. main main .'
            'footer footer footer footer';
    }

    .check-btn {
        margin: 20px 20px 20px 0px;
    }

    .embeded-video {
        padding: 0 0 0 20px;
    }

    .text-area {
        grid-area: textarea;
        color: black;
        background-color: #f5f5f5;
        padding: 0 20px 0 0;
        height: 440px;
    }

    .light {
        background-color: #f5f5f5;
        color: black;
    }

    .dark {
        background-color: #071f33;
        color: white;
    }

}

@media screen and (max-width: 850px) {
    .grid-topic-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0.1fr 0fr 1fr 0fr 1fr;
        grid-template-areas:
            'header header   header   header'
            '.      subh     subh     .     '
            '.      embvid   embvid   .     '
            '.      textarea textarea .     '
            '.      txt      txt      .     '
            'footer footer   footer   footer';
    }

    .grid-home-container {
        grid-template-columns: 0fr 1fr 1fr 0fr;
        grid-template-rows: 0fr 2.5fr auto;
    }

    .subhead {
        min-height: auto;
    }

    .check-btn {
        margin: 20px 20px 20px 0px;
    }

    .text-area {
        grid-area: textarea;
        color: black;
        background-color: #f5f5f5;
        padding: 0px 20px 0px 20px;
    }

    .light {
        background-color: #f5f5f5;
        color: black;
    }

    .dark {
        background-color: #071f33;
        color: white;
    }

    footer {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'foo1  foo3  foo5';
    }

    .lorem {
        visibility: hidden;
    }
}